menupopup, panel {
  &::part(content) {
    border-radius: 0px !important;
  }
}

.bookmark-item {
  border-radius: 0px !important;
}

#policies-container, #searchInput, .search-textbox {
  border-radius: 0px;
}

button {
  border-radius: 0px;
}

input {
  border-radius: 0px !important;
}

.info-box-container {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

.titlebar-buttonbox-container {
  padding-top: 5px !important;
}

#nav-bar #back-button {
  padding-left: 90px !important;
}

#nav-bar toolbarpaletteitem[id^="wrapper-customizableui-special-spring"], #nav-bar toolbarspring {
  flex: 0;
}

#browser #TabsToolbar .tab-content {
  margin: 0px !important;
}

.scrollbox-clip #browser #TabsToolbar .tab-background {
  border-radius: 10px !important;
  margin: 5px;
    margin-bottom: 5px;
}

#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[fadein]:not([style^="max-width"]) {
	max-width: unset !important;
}

#tabbrowser-tabs[orient="vertical"] .tab-background {
  display: none !important;
}

#personal-bookmarks {
  background: var(--newtab-background-color);
  margin-left: 26px;
  border-left: 1px solid var(--general-color);
}

#nav-bar {
  margin-left: 32px;
  background: var(--newtab-background-color);
  border-top: 1px solid !important;
  border-left: 1px solid !important;
}

#tabbrowser-tabpanels {
  border-left: 1px solid var(--general-color);
}