@media (prefers-color-scheme: dark) {
	
	#root {
	  border-radius: 15px;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	}
}

@media (prefers-color-scheme: light) {
	
	#root {
	  border-radius: 15px;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	}
}

.non-collapsible-section {
  margin-top: 15px;
}

.only-search .search-wrapper {
  padding-top: 50px;
}

.search-wrapper .search-handoff-button, .search-wrapper input, .top-site-outer .tile, .card-outer .card, .card-outer, .top-site-outer {
  border-radius: 15px;
}

.card-outer .card-preview-image-outer {
  border-radius: 15px 15px 0 0;
}

.top-site-outer {
  transition: 0.15s;
}