@media (prefers-color-scheme: dark) {
	
	#root {
	  background: linear-gradient(rgba(34, 36, 43, 0.5), rgba(17, 18, 19, 0.5)), url(https://source.unsplash.com/random/3840x2160/?city+night,landscape+night,abstract+night);
	  background-size: cover;
	  border-radius: 15px;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	}
}

@media (prefers-color-scheme: light) {
	
	#root {
	  background: linear-gradient(rgba(211, 211, 211, 0.31), rgba(93, 93, 96, 0.5)), url(https://source.unsplash.com/random/3840x2160/?city+day,landscape+day,abstract+day);
	  background-size: cover;
	  border-radius: 15px;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	}
}