:root,
html,
body {
  /* add your css below */

}

#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[fadein]:not([style^="max-width"]) {
	max-width: unset !important;
}

#tabbrowser-tabs[orient="vertical"] #tabbrowser-arrowscrollbox .tabbrowser-tab:is(:first-child) {
  margin-left: 0px !important;
}

#tabbrowser-tabs[orient="vertical"] .tab-background {
	position: initial !important;
}

#browser #TabsToolbar #alltabs-button {
  display: none !important;
}

.tab-label-container {
  margin-left: 6px;
}

:root:-moz-window-inactive #TabsToolbar .toolbarbutton-1 {
  background-color: var(--mf-background-color-50) !important;
}

#TabsToolbar .toolbarbutton-1 {
  background-color: var(--mf-background-color-0);
}

@media (prefers-color-scheme: light) {
	#TabsToolbar .toolbarbutton-1 {
	  background-color: color-mix(in srgb, var(--mf-accent-color) 20%, var(--mf-background-color-50)) !important;
	}
}